@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;

}
#pagebody{
	width: 100%;
}

#pageHead{
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*ページトップ*/
.logo{
	width: 100px;
	height: 60px;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 50px;
}
.Title{
	position: relative;
	float: left;
	font-size: 60px;
	margin-bottom: auto;
	margin-top: 15px;
	color: #00467E;
}
.info a{
	text-decoration: none;
	position: relative;
	float: right;
	margin-top: 60px;
	margin-right: 30px;
	color: #00467E;
	font-size: 18px;
}

.map a{
	text-decoration: none;
    position: relative;
	float: right;
	margin-top: 60px;
	margin-right: 30px;
	color: #00467E;
	font-size: 18px;
}
#goo{
	position: relative;
	float: right;
	margin-top: 58px;
	margin-right: 5px;
}

#goo .search1{
	color: #00467E;
	border: solid 1px #00467E;
	background: #fff;
	height: 25px;
	border-radius: 7px;
}

#goo .search2{
	color: #00467E;
	border: solid 1px #00467E;
	background: #fff;
	height: 30px;
	font-size: 15px;
	border-radius: 7px;
}

/*グローバルナビ*/
#globalnavi{
	width: 100%;
	clear: both;
	text-align: center;
}
.dropmenu {
	clear: both;
    *zoom: 1;
	list-style-type: none;
	width: 1200px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 0;
}
.dropmenu:before, .dropmenu:after {
	content: "";
	display: table;
}
.dropmenu:after {
	clear: both;
}

.dropmenu li {
	position: relative;
	width: 199px;
	float: left;
	margin: 0.5px;
	padding: 0;
}

.dropmenu li a {
	display: block;
	margin: 0;
	padding: 10px 0 11px;
	background: #00467E;
	color: #fff;
	font-size: 18px;
	line-height: 1.7;
	text-decoration: none;
}
.dropmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}
.dropmenu li ul li {
}
.dropmenu li ul li a {
	padding: 13px 15px;
	border-right: solid 0.3px #FFFFFF;
	background: #00467E;
	text-align: left;
}
.dropmenu li:hover > a {
	background: #fff;
	color: #00467E;
	opacity: 0.8;
}
.dropmenu li a:hover {
	background: #fff;
	color: #00467E;
}
#fade-in2 li ul {
	opacity: 0;
	top: 50%;
	visibility: hidden;
	transition: .5s;
}
#fade-in2 li:hover ul {
	top: 100%;
	visibility: visible;
	opacity: 1;
}
/*パンくずリスト*/
.pan{
	position: relative;
	width: 320px;
	padding-top: 15px;
	padding-left: 0px;
	margin: 0;
}
.pan li{
	display: inline;
float: left;
}
.pan li a{
	text-decoration: none;
	color: #00467E;
	font-size: 18px;
}

/*ブロック*/
.rosen{
	clear: both;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}
.rosen ul{
	width: 1100px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}
.rosen li{
	background: #DFE4E6;
	width: 340px;
    padding-right: 0px;
	padding-left: 0px;
	padding-top: 150px;
	padding-bottom: 150px;
	margin-right: 0px;
	margin-top: 35px;
	border-radius: 40px;
}
.rosen li:hover{
	opacity: 0.7;
}

.rosen .n1 {
background: #EF929D;
	color: #EF929D;
}
.rosen .n2 {
background: #7BCACE;
	color: #7BCACE;
}
.rosen .n3 {
background: #FAC366;
	color: #FAC366;
}
.rosen .n4 {
background: #CA89CF;
	color: #CA89CF;
}

.rosen li a{
color: #fff;
	font-size: 27px;
	text-decoration: none;
}

/*use*/
.use{
	clear: both;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}
.use ul{
	width: 1100px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
}
.use li{
	background: #DFE4E6;
	width: 150px;
	height: 30px;
    padding-right: 90px;
	padding-left: 90px;
	padding-top: 160px;
	padding-bottom: 160px;
	margin-right: 0px;
	margin-top: 35px;
	border-radius: 30px;
}
.use li:hover{
	opacity: 0.7;
}

.use .n1 {
background: #EF929D;
	color: #EF929D;
}
.use .n2 {
background: #7BCACE;
	color: #7BCACE;
}
.use .n3 {
background: #FAC366;
	color: #FAC366;
}
.use .n4 {
background: #CA89CF;
	color: #CA89CF;
}

.use li a{
color: #fff;
	font-size: 20px;
	text-decoration: none;
}

/*agenda*/
.agenda{
	clear: both;
	position: relative;
	overflow: hidden;
	width: 270px;
	margin-top: 10px ;
	padding-top: 10px;
}

.agenda ul{
	list-style-type: none;
	padding: 0;
}
.agenda li{
	border-top: solid 1px #00467E;
	padding: 17px;
	border-left: solid 12px #00467E;
	border-right: solid 1px #00467E;
}
.agenda li:last-child{
	border-bottom: solid 1px #00467E;

}

.agenda a{
	text-decoration: none;
	color: #00467E;
	font-size: 18px;
}

/*text*/
#text{
	position: relative;
	float: left;
	overflow: hidden;
	margin-left: 40px;
}
#text #p1 p{
	font-size: 25px;
	margin-top: 55px;
	margin-bottom: 0px;
	text-align: left;
	border-bottom: solid 1px #00467E;
	color: #00467E;
		padding: 5px;
}
#text #p1 img{
	margin-top: 20px;
	text-align: left;
}

#text #p2 p{
		text-align: left;
}

#text #p2 p a{
	font-size: 15px;
	color: #2B8EFF;
}

#text #p3 .pp3{
	font-size: 22px;
	margin-top: 60px;
	margin-bottom: 0px;
	text-align: left;
	border-bottom: solid 1px #00467E;
	color: #00467E;
}
#text #p3 p{
	text-align: left;
	padding: 5px;
}
#text #p3 ul{
	padding: 0;
}

#text #p3 ul li{
	text-align: left;
	margin: 8px;
}
#text #p3 ul li a{
	    color: #2B8EFF;
}
#text #p3{
	font-size: 17px;
}
#text #p3 .q3 a{
 color: #2B8EFF;
}

#text #p4 .pp4{
	font-size: 22px;
	margin-top: 60px;
	margin-bottom: 0px;
	text-align: left;
	border-bottom: solid 1px #00467E;
	color: #00467E;
}
#text #p4 p{
	text-align: left;
	padding: 5px;
}
#text #p4  a{
	    color: #2B8EFF;
}
#text #p5{
	margin-bottom: 50px;
}

#text #p5 .pp5{
	font-size: 22px;
	margin-top: 60px;
	margin-bottom: 0px;
	text-align: left;
	border-bottom: solid 1px #00467E;
	color: #00467E;
}
#text #p5 p{
	text-align: left;
	padding: 5px;
}
#text #p5  a{
	    color: #2B8EFF;
}


#Body2{
	float: left;
	width: 300px;
}


/*イベント情報*/
#Body{
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

#slider{
	overflow: hidden;
	width: 800px;
	height: 445px;
	position:relative;
	border: solid 0.3px #00467E;
	border-radius: 7px;
	box-shadow: 0 0 7px;
	color: #00467E;
	margin: 0px;
	padding: 0;
	float: left;
}
.thumb-item{
	float: left;
	position: relative;
	margin: 0px;
	padding: 0;
	width: 800px;
}
.thumb-item img{
	width: 800px;
	padding: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin: 0px;
}
.thumb-item-nav {
	clear: both;
	float: left;
	position: relative;
	margin-left: 0px;
	width: 800px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 0px;
}
.thumb-item-nav li{
	margin-right: 2px;
	padding-right: 10px;
}
.thumb-item-nav li:last-child{
	margin-right: 0px;
	padding-right: 0px;
}


/*時刻・料金検索*/
#money{
	font-size: 21px;
	margin-top: 0;
	margin-bottom: 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	padding: 7px;
	border-bottom: solid 0.1px #00467E;
	background: #00467E;
	color: #fff;
}

#search{
	font-size: 22px;
	border: solid 0.3px #00467E;
	border-radius: 7px;
	box-shadow: 0 0 7px;
	float: right;
	width: 370px;
	height: 445px;
	position: relative;
	margin: 0 auto;
	color: #00467E;
}
.form__item{
	text-align: left;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.form__item p{
	margin: 0;
}
.result{
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 30px;
}
.result p{
	text-align: left;
}
.select1{
	width: 170px;
	height: 30px;
	margin-left: 55px;
	font-size: 15px;
}
.fare{
	float: right;
	margin-right:
}

/*新着情報*/
.tab{
	clear: both;
	display: block;
	overflow:hidden;
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 0;
	float: left;
	box-shadow: 0 0 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: #00467E;
}

.tab li{
	background:#fff;
	color: #00467E;
	padding:5px 25px;
	float:left;
	border-right: solid 0.3px #00467E;
	border-top: solid 0.3px #00467E;
	font-size: 20px;
}
.tab li:first-child{
	border-top-left-radius: 7px;
	border-left: solid 0.3px #00467E;
}
.tab li:last-child{
	border-top-right-radius: 7px;
}

.tab li.select{
	background:#00467E;
	color: #fff;
}
.content{
	float: left;
	list-style-type: none;
	width: 800px;
	height: 650px;
	margin: 0;
	padding: 0;
margin-bottom: 30px;
	border: solid 0.3px #00467E;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 0 0 7px;
	color: #00467E;
}
.content p{
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
}

.content ul{
	list-style-type: none;
padding: 0;
}

.content li{
	margin: 0;
	background:#fff;
	padding:20px;
	padding: 0;
	text-align: left;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
}

.content ul li a{
margin: 0;
	padding: 0;
	color: #00467E;
}

.hide{
	display:none;
}

/*Twitter*/
#Twitter{
	width: 370px;
	position: relative;
	float: right;
	border: solid 0.3px #00467E;
	border-radius: 7px;
		box-shadow: 0 0 7px;
	color: #00467E;
}
#Twitter p{
	font-size: 21px;
	padding: 10px;
	margin: 0;
	background: #00467E;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color: #fff;
}

/*企業向け*/
#company{
	width: 370px;
	height: 250px;
	float: right;
	position: relative;
	text-align: center;
	margin-top: 0px;

}
#company ul{
	list-style-type: none;
	padding: 0;
}
#company ul li{
	background: #00467E;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
		box-shadow: 0 0 7px;
	color: #00467E;
}
#company ul li a{
	display: block;
	font-size: 21px;
	text-decoration: none;
	color: #fff;
	padding: 17px;
}
#company ul li:hover{
	opacity: 0.9;
}


/*フッター*/
footer{
	clear: both;
	text-align: center;
	position: relative;
}
footer p{
	clear: both;
	color: #fff;
	margin-top: 10px;
	font-size: 20px;
	padding: 1px;
}


#fotter_navi{
	clear: both;
	display: block;
	background: #00467E;
	margin-bottom: 0;
	margin-top: 0px;
}
#fotter_navi li{
	display: inline;
	border-left: solid 1px #fff;
	padding-left: 10px;
	font-size: smaller;
}
#fotter_navi li:last-child{
	border-right: solid 1px #fff;
	padding: 0 10px;
}

#fotter_navi ul{
		list-style-type: none;
	padding-bottom: 15px;
	margin-bottom: 0;
}
#fotter_navi a{
	color: #fff;
}
